Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [FormasPagamento] (
    [IdFormaPagamento] int NOT NULL IDENTITY,
    [Descricao] nvarchar(45) NOT NULL,
    [QtdParcelas] int NOT NULL,
    [QtdMinimaParcelas] int NOT NULL,
    CONSTRAINT [PK_FormasPagamento] PRIMARY KEY ([IdFormaPagamento])
);

CREATE TABLE [GrausParentesco] (
    [IdGrauParentesco] int NOT NULL IDENTITY,
    [Descricao] nvarchar(15) NOT NULL,
    CONSTRAINT [PK_GrausParentesco] PRIMARY KEY ([IdGrauParentesco])
);

CREATE TABLE [Laboratorios] (
    [IdLaboratorio] int NOT NULL IDENTITY,
    [Nome] nvarchar(50) NOT NULL,
    CONSTRAINT [PK_Laboratorios] PRIMARY KEY ([IdLaboratorio])
);

CREATE TABLE [Parceiros] (
    [IdParceiro] int NOT NULL IDENTITY,
    [NomeParceiro] nvarchar(50) NOT NULL,
    [ApelidoParceiro] nvarchar(25) NOT NULL,
    [CNPJParceiro] nvarchar(18) NOT NULL,
    CONSTRAINT [PK_Parceiros] PRIMARY KEY ([IdParceiro])
);

CREATE TABLE [TiposOrdemGrandeza] (
    [IdTipoOrdemGrandeza] int NOT NULL IDENTITY,
    [Descricao] nvarchar(25) NOT NULL,
    [Simbolos] nvarchar(4) NOT NULL,
    CONSTRAINT [PK_TiposOrdemGrandeza] PRIMARY KEY ([IdTipoOrdemGrandeza])
);

CREATE TABLE [TiposUtilizador] (
    [IdTipoUtilizador] int NOT NULL IDENTITY,
    [Descricao] nvarchar(14) NOT NULL,
    CONSTRAINT [PK_TiposUtilizador] PRIMARY KEY ([IdTipoUtilizador])
);

CREATE TABLE [Remedios] (
    [IdRemedio] int NOT NULL IDENTITY,
    [IdTipoOrdemGrandeza] int NOT NULL,
    [IdLaboratorio] int NOT NULL,
    [NomeRemedio] nvarchar(255) NOT NULL,
    [Anotacao] nvarchar(max) NOT NULL,
    [Dosagem] int NOT NULL,
    [DtRegistro] datetime2 NOT NULL,
    [QtdAlerta] float NOT NULL,
    [LaboratorioIdLaboratorio] int NULL,
    [TipoOrdemGrandezaIdTipoOrdemGrandeza] int NULL,
    CONSTRAINT [PK_Remedios] PRIMARY KEY ([IdRemedio]),
    CONSTRAINT [FK_Remedios_Laboratorios_IdLaboratorio] FOREIGN KEY ([IdLaboratorio]) REFERENCES [Laboratorios] ([IdLaboratorio]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Remedios_Laboratorios_LaboratorioIdLaboratorio] FOREIGN KEY ([LaboratorioIdLaboratorio]) REFERENCES [Laboratorios] ([IdLaboratorio]),
    CONSTRAINT [FK_Remedios_TiposOrdemGrandeza_IdTipoOrdemGrandeza] FOREIGN KEY ([IdTipoOrdemGrandeza]) REFERENCES [TiposOrdemGrandeza] ([IdTipoOrdemGrandeza]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Remedios_TiposOrdemGrandeza_TipoOrdemGrandezaIdTipoOrdemGrandeza] FOREIGN KEY ([TipoOrdemGrandezaIdTipoOrdemGrandeza]) REFERENCES [TiposOrdemGrandeza] ([IdTipoOrdemGrandeza])
);

CREATE TABLE [Utilizadores] (
    [IdUtilizador] int NOT NULL IDENTITY,
    [IdTipoUtilizador] int NOT NULL,
    [CPF] nvarchar(14) NOT NULL,
    [Nome] nvarchar(40) NOT NULL,
    [Sobrenome] nvarchar(40) NOT NULL,
    [DtNascimento] datetime2 NOT NULL,
    [Email] nvarchar(255) NOT NULL,
    [Telefone] nvarchar(11) NULL,
    CONSTRAINT [PK_Utilizadores] PRIMARY KEY ([IdUtilizador]),
    CONSTRAINT [FK_Utilizadores_TiposUtilizador_IdTipoUtilizador] FOREIGN KEY ([IdTipoUtilizador]) REFERENCES [TiposUtilizador] ([IdTipoUtilizador]) ON DELETE NO ACTION
);

CREATE TABLE [Cuidadores] (
    [IdCuidador] int NOT NULL,
    [IdUtilizador] int NOT NULL,
    [DtInicio] datetime2 NOT NULL,
    [DtFim] datetime2 NULL,
    [DcCuidador] datetime2 NOT NULL,
    [DuCuidador] datetime2 NOT NULL,
    [StCuidador] nvarchar(1) NOT NULL,
    [UtilizadorIdUtilizador] int NULL,
    CONSTRAINT [PK_Cuidadores] PRIMARY KEY ([IdCuidador], [IdUtilizador]),
    CONSTRAINT [FK_Cuidadores_Utilizadores_IdCuidador] FOREIGN KEY ([IdCuidador]) REFERENCES [Utilizadores] ([IdUtilizador]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Cuidadores_Utilizadores_IdUtilizador] FOREIGN KEY ([IdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Cuidadores_Utilizadores_UtilizadorIdUtilizador] FOREIGN KEY ([UtilizadorIdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador])
);

CREATE TABLE [ParceirosUtilizadores] (
    [IdParceiro] int NOT NULL,
    [IdColaborador] int NOT NULL,
    [ParceiroIdParceiro] int NULL,
    [UtilizadorIdUtilizador] int NULL,
    CONSTRAINT [PK_ParceirosUtilizadores] PRIMARY KEY ([IdParceiro], [IdColaborador]),
    CONSTRAINT [FK_ParceirosUtilizadores_Parceiros_IdParceiro] FOREIGN KEY ([IdParceiro]) REFERENCES [Parceiros] ([IdParceiro]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ParceirosUtilizadores_Parceiros_ParceiroIdParceiro] FOREIGN KEY ([ParceiroIdParceiro]) REFERENCES [Parceiros] ([IdParceiro]),
    CONSTRAINT [FK_ParceirosUtilizadores_Utilizadores_IdColaborador] FOREIGN KEY ([IdColaborador]) REFERENCES [Utilizadores] ([IdUtilizador]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ParceirosUtilizadores_Utilizadores_UtilizadorIdUtilizador] FOREIGN KEY ([UtilizadorIdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador])
);

CREATE TABLE [Posologias] (
    [IdPosologia] int NOT NULL IDENTITY,
    [IdRemedio] int NOT NULL,
    [IdUtilizador] int NOT NULL,
    [DtInicio] datetime2 NOT NULL,
    [DtFim] datetime2 NULL,
    [Intervalo] int NOT NULL,
    [QtdRemedio] int NOT NULL,
    [RemedioIdRemedio] int NULL,
    [UtilizadorIdUtilizador] int NULL,
    CONSTRAINT [PK_Posologias] PRIMARY KEY ([IdPosologia]),
    CONSTRAINT [FK_Posologias_Remedios_IdRemedio] FOREIGN KEY ([IdRemedio]) REFERENCES [Remedios] ([IdRemedio]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Posologias_Remedios_RemedioIdRemedio] FOREIGN KEY ([RemedioIdRemedio]) REFERENCES [Remedios] ([IdRemedio]),
    CONSTRAINT [FK_Posologias_Utilizadores_IdUtilizador] FOREIGN KEY ([IdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Posologias_Utilizadores_UtilizadorIdUtilizador] FOREIGN KEY ([UtilizadorIdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador])
);

CREATE TABLE [Promocoes] (
    [IdPromocao] int NOT NULL IDENTITY,
    [IdFormaPagamento] int NOT NULL,
    [FormaPagamentoIdFormaPagamento] int NULL,
    [IdColaborador] int NOT NULL,
    [ColaboradorIdUtilizador] int NULL,
    [IdRemedio] int NOT NULL,
    [RemedioIdRemedio] int NULL,
    [Descricao] nvarchar(40) NOT NULL,
    [DtInicio] datetime2 NOT NULL,
    [DtFim] datetime2 NOT NULL,
    [Valor] float NOT NULL,
    CONSTRAINT [PK_Promocoes] PRIMARY KEY ([IdPromocao]),
    CONSTRAINT [FK_Promocoes_FormasPagamento_FormaPagamentoIdFormaPagamento] FOREIGN KEY ([FormaPagamentoIdFormaPagamento]) REFERENCES [FormasPagamento] ([IdFormaPagamento]),
    CONSTRAINT [FK_Promocoes_Remedios_RemedioIdRemedio] FOREIGN KEY ([RemedioIdRemedio]) REFERENCES [Remedios] ([IdRemedio]),
    CONSTRAINT [FK_Promocoes_Utilizadores_ColaboradorIdUtilizador] FOREIGN KEY ([ColaboradorIdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador])
);

CREATE TABLE [Responsaveis] (
    [IdResponsavel] int NOT NULL,
    [IdUtilizador] int NOT NULL,
    [IdGrauParentesco] int NOT NULL,
    [DcResponsavel] datetime2 NOT NULL,
    [DuResponsavel] datetime2 NOT NULL,
    [StResponsavel] nvarchar(1) NOT NULL,
    [UtilizadorIdUtilizador] int NULL,
    CONSTRAINT [PK_Responsaveis] PRIMARY KEY ([IdResponsavel], [IdUtilizador]),
    CONSTRAINT [FK_Responsaveis_GrausParentesco_IdGrauParentesco] FOREIGN KEY ([IdGrauParentesco]) REFERENCES [GrausParentesco] ([IdGrauParentesco]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Responsaveis_Utilizadores_IdResponsavel] FOREIGN KEY ([IdResponsavel]) REFERENCES [Utilizadores] ([IdUtilizador]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Responsaveis_Utilizadores_IdUtilizador] FOREIGN KEY ([IdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Responsaveis_Utilizadores_UtilizadorIdUtilizador] FOREIGN KEY ([UtilizadorIdUtilizador]) REFERENCES [Utilizadores] ([IdUtilizador])
);

CREATE TABLE [Alarmes] (
    [IdAlarme] int NOT NULL IDENTITY,
    [IdPosologia] int NOT NULL,
    [IdRemedio] int NOT NULL,
    [DtHoraAlarme] datetime2 NOT NULL,
    [StAlarme] nvarchar(50) NOT NULL,
    [PosologiaIdPosologia] int NULL,
    [RemedioIdRemedio] int NULL,
    CONSTRAINT [PK_Alarmes] PRIMARY KEY ([IdAlarme]),
    CONSTRAINT [FK_Alarmes_Posologias_IdPosologia] FOREIGN KEY ([IdPosologia]) REFERENCES [Posologias] ([IdPosologia]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Alarmes_Posologias_PosologiaIdPosologia] FOREIGN KEY ([PosologiaIdPosologia]) REFERENCES [Posologias] ([IdPosologia]),
    CONSTRAINT [FK_Alarmes_Remedios_IdRemedio] FOREIGN KEY ([IdRemedio]) REFERENCES [Remedios] ([IdRemedio]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Alarmes_Remedios_RemedioIdRemedio] FOREIGN KEY ([RemedioIdRemedio]) REFERENCES [Remedios] ([IdRemedio])
);

CREATE TABLE [HistoricosPosologia] (
    [IdPosologia] int NOT NULL,
    [IdRemedio] int NOT NULL,
    [SdPosologia] int NOT NULL,
    [PosologiaIdPosologia] int NULL,
    [RemedioIdRemedio] int NULL,
    CONSTRAINT [PK_HistoricosPosologia] PRIMARY KEY ([IdPosologia], [IdRemedio]),
    CONSTRAINT [FK_HistoricosPosologia_Posologias_IdPosologia] FOREIGN KEY ([IdPosologia]) REFERENCES [Posologias] ([IdPosologia]) ON DELETE NO ACTION,
    CONSTRAINT [FK_HistoricosPosologia_Posologias_PosologiaIdPosologia] FOREIGN KEY ([PosologiaIdPosologia]) REFERENCES [Posologias] ([IdPosologia]),
    CONSTRAINT [FK_HistoricosPosologia_Remedios_IdRemedio] FOREIGN KEY ([IdRemedio]) REFERENCES [Remedios] ([IdRemedio]) ON DELETE NO ACTION,
    CONSTRAINT [FK_HistoricosPosologia_Remedios_RemedioIdRemedio] FOREIGN KEY ([RemedioIdRemedio]) REFERENCES [Remedios] ([IdRemedio])
);

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'IdGrauParentesco', N'Descricao') AND [object_id] = OBJECT_ID(N'[GrausParentesco]'))
    SET IDENTITY_INSERT [GrausParentesco] ON;
INSERT INTO [GrausParentesco] ([IdGrauParentesco], [Descricao])
VALUES (1, N'Pai'),
(2, N'M├úe'),
(3, N'Filho'),
(4, N'Filha'),
(5, N'Av├┤'),
(6, N'Av├│'),
(7, N'Tio'),
(8, N'Tia'),
(9, N'Primo'),
(10, N'Prima'),
(11, N'Sobrinho'),
(12, N'Sobrinha'),
(13, N'C├┤njuge'),
(14, N'Companheiro'),
(15, N'Companheira');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'IdGrauParentesco', N'Descricao') AND [object_id] = OBJECT_ID(N'[GrausParentesco]'))
    SET IDENTITY_INSERT [GrausParentesco] OFF;

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'IdTipoOrdemGrandeza', N'Descricao', N'Simbolos') AND [object_id] = OBJECT_ID(N'[TiposOrdemGrandeza]'))
    SET IDENTITY_INSERT [TiposOrdemGrandeza] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'IdTipoOrdemGrandeza', N'Descricao', N'Simbolos') AND [object_id] = OBJECT_ID(N'[TiposOrdemGrandeza]'))
    SET IDENTITY_INSERT [TiposOrdemGrandeza] OFF;

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'IdTipoUtilizador', N'Descricao') AND [object_id] = OBJECT_ID(N'[TiposUtilizador]'))
    SET IDENTITY_INSERT [TiposUtilizador] ON;
INSERT INTO [TiposUtilizador] ([IdTipoUtilizador], [Descricao])
VALUES (1, N'Utilizador'),
(2, N'Cuidador'),
(3, N'Respons├ível'),
(4, N'Parceiro');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'IdTipoUtilizador', N'Descricao') AND [object_id] = OBJECT_ID(N'[TiposUtilizador]'))
    SET IDENTITY_INSERT [TiposUtilizador] OFF;

CREATE INDEX [IX_Alarmes_IdPosologia] ON [Alarmes] ([IdPosologia]);

CREATE INDEX [IX_Alarmes_IdRemedio] ON [Alarmes] ([IdRemedio]);

CREATE INDEX [IX_Alarmes_PosologiaIdPosologia] ON [Alarmes] ([PosologiaIdPosologia]);

CREATE INDEX [IX_Alarmes_RemedioIdRemedio] ON [Alarmes] ([RemedioIdRemedio]);

CREATE INDEX [IX_Cuidadores_IdUtilizador] ON [Cuidadores] ([IdUtilizador]);

CREATE INDEX [IX_Cuidadores_UtilizadorIdUtilizador] ON [Cuidadores] ([UtilizadorIdUtilizador]);

CREATE INDEX [IX_HistoricosPosologia_IdRemedio] ON [HistoricosPosologia] ([IdRemedio]);

CREATE INDEX [IX_HistoricosPosologia_PosologiaIdPosologia] ON [HistoricosPosologia] ([PosologiaIdPosologia]);

CREATE INDEX [IX_HistoricosPosologia_RemedioIdRemedio] ON [HistoricosPosologia] ([RemedioIdRemedio]);

CREATE UNIQUE INDEX [IX_Parceiros_CNPJParceiro] ON [Parceiros] ([CNPJParceiro]);

CREATE INDEX [IX_ParceirosUtilizadores_IdColaborador] ON [ParceirosUtilizadores] ([IdColaborador]);

CREATE INDEX [IX_ParceirosUtilizadores_ParceiroIdParceiro] ON [ParceirosUtilizadores] ([ParceiroIdParceiro]);

CREATE INDEX [IX_ParceirosUtilizadores_UtilizadorIdUtilizador] ON [ParceirosUtilizadores] ([UtilizadorIdUtilizador]);

CREATE INDEX [IX_Posologias_IdRemedio] ON [Posologias] ([IdRemedio]);

CREATE INDEX [IX_Posologias_IdUtilizador] ON [Posologias] ([IdUtilizador]);

CREATE INDEX [IX_Posologias_RemedioIdRemedio] ON [Posologias] ([RemedioIdRemedio]);

CREATE INDEX [IX_Posologias_UtilizadorIdUtilizador] ON [Posologias] ([UtilizadorIdUtilizador]);

CREATE INDEX [IX_Promocoes_ColaboradorIdUtilizador] ON [Promocoes] ([ColaboradorIdUtilizador]);

CREATE INDEX [IX_Promocoes_FormaPagamentoIdFormaPagamento] ON [Promocoes] ([FormaPagamentoIdFormaPagamento]);

CREATE INDEX [IX_Promocoes_RemedioIdRemedio] ON [Promocoes] ([RemedioIdRemedio]);

CREATE INDEX [IX_Remedios_IdLaboratorio] ON [Remedios] ([IdLaboratorio]);

CREATE INDEX [IX_Remedios_IdTipoOrdemGrandeza] ON [Remedios] ([IdTipoOrdemGrandeza]);

CREATE INDEX [IX_Remedios_LaboratorioIdLaboratorio] ON [Remedios] ([LaboratorioIdLaboratorio]);

CREATE INDEX [IX_Remedios_TipoOrdemGrandezaIdTipoOrdemGrandeza] ON [Remedios] ([TipoOrdemGrandezaIdTipoOrdemGrandeza]);

CREATE INDEX [IX_Responsaveis_IdGrauParentesco] ON [Responsaveis] ([IdGrauParentesco]);

CREATE INDEX [IX_Responsaveis_IdUtilizador] ON [Responsaveis] ([IdUtilizador]);

CREATE INDEX [IX_Responsaveis_UtilizadorIdUtilizador] ON [Responsaveis] ([UtilizadorIdUtilizador]);

CREATE UNIQUE INDEX [IX_Utilizadores_CPF_IdTipoUtilizador] ON [Utilizadores] ([CPF], [IdTipoUtilizador]);

CREATE INDEX [IX_Utilizadores_IdTipoUtilizador] ON [Utilizadores] ([IdTipoUtilizador]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250328203151_CreateDatabase', N'9.0.3');

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250328231553_AtualizacaoSenha', N'9.0.3');

COMMIT;
GO


